/* colors */
/* responsive mixin */
/* placeholder */
::-webkit-input-placeholder {
  color: #888888;
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
input:focus::-webkit-input-placeholder {
  opacity: 1;
}

:-moz-placeholder {
  color: #888888;
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
input:focus:-moz-placeholder {
  opacity: 1;
}

::-moz-placeholder {
  color: #888888;
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
input:focus::-moz-placeholder {
  opacity: 1;
}

:-ms-input-placeholder {
  color: #888888;
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
input:focus:-ms-input-placeholder {
  opacity: 1;
}

/* main content */
* {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-family: "Inconsolata", monospace;
  font-weight: 400;
  opacity: 1.0;
}

html, body {
  background-color: #33393B;
}



.blocks {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
}
.blocks .block {
  flex: 1;
  margin: 2px;
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid #222222;
  min-width: 160px;
}
.blocks .block li {
  list-style: none;
}
.blocks .block .header {
  color: #95EDFD;
}
.blocks .block a {
  text-decoration: none;
  cursor: pointer;
}
.blocks .block a:visited, .blocks .block a:focus, .blocks .block a:link {
  color: white;
}
.blocks .block a:hover {
  color: #FF92D1;
}
@media screen and (max-width: 1000px) {
  .blocks {
    width: 80%;
  }
}

.center-thingy {
	position: absolute;
 	left: 50%;
    	top: 50%;
      	-webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
}

#search {
    width: 100%;
    height: 100vh;
    background-color: #272727;
    display: none;
    position: absolute;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#search-field {
    width: 90%;
    padding: .75em 1em;
    box-sizing: border-box;
    background-color: #272727;
    border: solid 0px #272727;
    font-family: "Roboto Mono";
    font-size: 4rem;
    color: #f2f2f2;
    outline: none;
    border-radius: 3px;
    margin-bottom: 1em;
    text-align: center;
}
