# global
alias cheats='cat $HOME/repos/dotfiles/cheatsheet'
alias clip='xclip -sel clip'
alias docker-rmi='sudo docker rmi -f $(sudo docker images -a -q)'
alias ducks='du -cks * | sort -rn | head'
alias fh='grep -rnw './/' -e '
alias grun='go run .'
alias hg='history | grep'
alias lf='npm run lint:fix'
alias ll='exa -lag'
alias neo='neofetch --ascii $HOME/repos/dotfiles/.ascii-cat'
alias open='xdg-open'
alias plz='sudo $(fc -ln -1)'
alias py='python3'
alias rsync='rsync -av -progress'
alias scp='scp -F ~/.ssh/config'
alias stash-save='git stash save -u'
alias untar='tar -zxvf'
alias vim='nvim'
alias wget='wget -c'
alias :q='exit'
